<template lang="pug">
  v-list-item
    v-list-item-icon
      v-icon(:color='button.color' rounded left) {{button.icon}}
      v-list-item-content
        v-list-item-title {{button.title}}
      
</template>

<script>
  export default{
    name: 'chipsLink',
    props: {
      button: {
        type: Object,
        default: null
      }
    }
  }

</script>
