<template lang="pug">
v-container(fluid)
  v-row.mt-3.px-md-14(align="center")
    v-col.col-8.offset-2.col-md-4.offset-md-0(:order='lineText.left && $vuetify.breakpoint.mdAndUp ? 1 : 3')
      v-img.image(:src='lineText.picture' contain)
    v-col.col-12.col-md-8.text-left(order=2)
      h2.mb-2 {{lineText.title}}
      div.text-justify {{lineText.text}}
</template>

<script>
  export default{
    name: 'lineText',
    props: {
      lineText: {
        type: Object,
        default: null
      }
    }
  }

</script>
<style lang="css" scoped>
  .image {
    border-radius: 1em 4em 1em 4em;
    -webkit-box-shadow: 10px 30px 80px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 10px 30px 80px 0px rgba(0,0,0,0.8);
    box-shadow: 10px 30px 80px 0px rgba(0,0,0,0.8);
  }
</style>