<template lang="pug">
  v-app#img
    v-app-bar.pr-2(dense color='rgba(255,255,255,0.8)' collapse-on-scroll app)
        v-menu(open-on-hover offset-y transition="slide-x-transition")
          template(v-slot:activator="{ on, attrs }")
            v-btn.mr-2(icon v-on="on")
              v-app-bar-nav-icon(color="teal")
          v-list(color='rgba(255,255,255)' dense shaped)
            v-list-item-group(color="teal")
              v-list-item(v-for='link in links' :key='link.title' :to='link.link')
                v-list-item-icon
                  v-icon(:color='link.color' rounded left) {{link.icon}}
                v-list-item-content
                  v-list-item-title {{link.title}}
        a(href='/')
          v-avatar.mr-5(size=40)
            v-img(src='/avatar.jpeg' alt='Flora')
        v-app-bar-title Flora'fit Healthy Life
        v-spacer
        span(v-if='$vuetify.breakpoint.mdAndUp') Conseillère sport, nutrition et bien être
    v-main
      v-container(fluid)
        nuxt/
    Footer
</template>

<script>
  export default {
    data () {
      return {
        links: [
          {
            link : 'https://instabio.cc/Presentation',
            icon : 'mdi-book-open-variant',
            title: 'Explications programme',
            color: 'teal',
            link: '/programme'
          },
          {
            link : 'https://docs.google.com/forms/d/1RxhShzlD9CRL4yhuz--lQ61anvsBYcKzYy6bXOkT_dU/viewform?chromeless=1&edit_requested=true',
            icon : 'mdi-hand-heart',
            title: 'Bilan de santé gratuit et sans engagement',
            color: 'green',
            link: '/bilan'
          },
          {
            link : 'https://m.facebook.com/FlorafitHealthyLife/?ref=bookmarks&_rdr',
            icon : 'mdi-calendar-range-outline',
            title: 'Prendre un RDV avec moi',
            color: 'deep-orange accent-3',
            link: '/rendez-vous'
          },
          {
            link : 'https://segurel55062.juiceplus.com/fr/fr/products/omega-blend',
            icon : 'mdi-information-outline',
            title: 'Découvrir nos produits naturels',
            color: 'deep-orange',
            link: '/produits'
          },
          {
            link : 'https://segurel55062.juiceplus.com/fr/fr/clinical-research/juice-plus-research',
            icon : 'mdi-card-account-details-outline',
            title: 'Les recherches cliniques de nos produits',
            color: 'light-blue',
            link: '/recherche'
          },
          {
            link : 'https://segurel55062.juiceplus.com/fr/fr/shop/capsules/omega-blends',
            icon : 'mdi-store',
            title: 'Boutique',
            color: 'red accent-2',
            link: '/boutique'
          },
           {
            link : 'https://segurel55062.juiceplus.com/fr/fr/franchise/the-juice-plus-business-model/partner-signup',
            icon : 'mdi-handshake',
            title: 'Rejoindre l\'équipe',
            color: 'blue',
            link: '/nous-rejoindre'
          },
        ],
      }
    }
  }
</script>

<style lang="css">
  #img {
    background: url('/flora-fond.jpeg') center fixed no-repeat;
    background-size: 100%;
  }
  @media (max-width: 960px) {
    #img {
      background: url('/flora-fond.jpeg') center fixed no-repeat;
    }
  }
</style>
