<template lang="pug">
v-col.col-xs-12.col-sm-10.col-md-8.offset-sm-1.offset-md-2
  v-card#form(shaped color='rgba(255,255,255,0.8)')
    v-card-title.justify-center Bilan de santé
    hr.mx-16
    v-card-text.text-center Tu es en quête d'un corps plus sain et plus tonique? J'ai ce qu'il faut pour toi, un rééquilibrage alimentaire, des exercices simples et une communauté super motivante. Je te propose de remplir ce formulaire pour recevoir un bilan gratuit et des conseils.
    v-progress-circular#progressBar.mt-16.ml-0.ml-md-16(color='teal' :size='$vuetify.breakpoint.mdAndUp ? 50 : 30' width=5 :value='valueForm' rotate=270 v-if='valueForm')
    v-card-text.text-center Si tu as la moindre question n'hésite pas à me contacter sur Facebook ou Instagram.
      v-col.col-11.offset-1.col-md-10
        v-row
          v-col.col-md-8.offset-md-2
            v-form(ref='form' v-model='valid')
              v-text-field(label='Nom & Prénom // Nom Facebook' color='teal' v-model='healthForm.name' required counter=50 :rules='rules.empty')
              v-text-field(label='Ville et/ou pays' color='teal' v-model='healthForm.city' required counter=50 :rules='rules.empty')
              v-text-field(label='Ton poids ? Ta taille ? ton âge ?' color='teal' v-model='healthForm.bodyInformation'  required counter=50 :rules='rules.empty')
              v-text-field(label='As tu un objectif physique ? Si oui lequel ?' color='teal' v-model='healthForm.target'  required counter=50 :rules='rules.empty')

              v-radio-group(v-model='healthForm.sport' required :rules='rules.empty')
                template(v-slot:label)
                  div Fais-tu du sport ?
                v-radio(label='Oui' value='Oui' color='teal')
                v-radio(label='Non' value='Non' color='teal')
                v-radio(label='Non, mais j\'aimerais m\'y mettre' value='Veux s\'y mettre' color='teal')

              v-text-field(label='Quel sport pratiques-tu (ou que tu aimerais pratiqué) ?' color='teal' v-model='healthForm.sportPractise' required counter=50 :rules='rules.empty')

              v-radio-group(v-model='healthForm.eat' required :rules='rules.empty')
                template(v-slot:label)
                  div Comment manges-tu généralement ?
                v-radio(label='Sainement' value='Sainement' color='teal')
                v-radio(label='Je mange beaucoup trop (quantités)' value='grosses quantitées' color='teal')
                v-radio(label='Je mange mal (pizza, burger, frites, fast food...)' value='mange mal' color='teal')
                v-radio(label='Je suis souvent en déplacement' value='Souvent en déplacement' color='teal')

              v-radio-group(v-model='healthForm.meal' required :rules='rules.empty')
                template(v-slot:label)
                  div Quels repas fais tu ?
                v-radio(label='Petit déjeuner' value='Petit déjeuner' color='teal')
                v-radio(label='Déjeuner' value='Déjeuner' color='teal')
                v-radio(label='Dîner' value='Dîner' color='teal')
                v-radio(label='Tous' value='Tous' color='teal')
                v-container.pt-0
                  v-row
                    v-radio.mt-3.mt-sm-0(label='Autre :' value='Autre :' color='teal')
                    v-text-field.pt-0.ml-md-3.inputForm(color='teal' :disabled='inputDisabledOtherMeal' v-model='healthForm.otherMeal')

              v-radio-group(v-model='healthForm.snack' required :rules='rules.empty')
                template(v-slot:label)
                  div Grignotes-tu ?
                v-radio(label='Souvent' value='Souvent' color='teal')
                v-radio(label='Rarement' value='Rarement' color='teal')
                v-radio(label='Jamais' value='Jamais' color='teal')

              v-radio-group(v-model='healthForm.fish' required :rules='rules.empty')
                template(v-slot:label)
                  div Manges-tu du poisson ?
                v-radio(label='Oui, plus de 3 fois par semaine' value='plus de 3 fois par semaine' color='teal')
                v-radio(label='Oui, moins de 3 fois par semaine' value='moins de 3 fois par semaine' color='teal')
                v-radio(label='Jamais (ou presque jamais)' value='jamais' color='teal')

              v-radio-group(v-model='healthForm.fruit' required :rules='rules.empty')
                template(v-slot:label)
                  div Manges-tu des fruits / légumes ?
                v-radio(label='Oui, tous les jours' value='Oui' color='teal')
                v-radio(label='Oui, mais pas tous les jours' value='Oui, pas tous les jours' color='teal')
                v-radio(label='Jamais (ou presque jamais)' value='Jamais' color='teal')

              v-text-field(label='As-tu un régime alimentaire particulier ? Si oui lequel ?' color='teal' v-model='healthForm.eatParticularity' counter=50 :rules='rules.empty')

              v-radio-group(v-model='healthForm.energy' required :rules='rules.empty')
                template(v-slot:label)
                  div Quel est ton niveau d'énergie journalier ?
                v-radio(label='Je suis souvent fatigué' value='Fatigué' color='teal')
                v-radio(label='ça va' value='Ca va' color='teal')
                v-radio(label='Je pète la forme' value='Pète la forme' color='teal')

              v-radio-group(v-model='healthForm.night' required :rules='rules.empty')
                template(v-slot:label)
                  div Tes nuits sont de ?
                v-radio(label='moins de 5h' value='moins de 5h' color='teal')
                v-radio(label='5 à 7 h' value='5 à 7 h' color='teal')
                v-radio(label='7 à 9 h' value='7 à 9 h' color='teal')
                v-radio(label='plus de 9h' value='plus de 9h' color='teal')

              v-radio-group(v-model='healthForm.skin' required :rules='rules.empty')
                template(v-slot:label)
                  div Comment est ta peau ?
                v-radio(label='Lisse et tonique' value='Lisse' color='teal')
                v-radio(label='J\'ai des problèmes de cellulite' value='Cellulite' color='teal')
                v-radio(label='J\'ai des problèmes de peau (visage)' value='Problème de peau' color='teal')

              v-text-field(label='As-tu des allergies / intolérances / problèmes de santé ?' color='teal' v-model='healthForm.healthProblems' counter=50 :rules='rules.empty')
              v-text-field(label='As tu des douleurs particulière ? Si oui lesquels ?' color='teal' v-model='healthForm.pain' counter=50 :rules='rules.empty')
              v-text-field(label='Prends-tu des médicaments ? Si oui lesquels ?' color='teal' v-model='healthForm.pills' counter=50 :rules='rules.empty')

              v-radio-group(v-model='healthForm.contact' required :rules='rules.empty')
                template(v-slot:label)
                  div Tu veux être contacté par
                v-radio(label='Facebook (Messenger)' value='Facebook' color='teal')
                v-radio(label='Instagram' value='Instagram' color='teal')
                v-radio(label='Mail' value='Mail' color='teal')
                v-radio(label='Téléphone' value='Téléphone' color='teal')
                v-container.pt-0
                  v-row
                    v-radio.mt-3.mt-sm-0(label='Autre :' value='Autre :' color='teal')
                    v-text-field.pt-0.ml-md-3.inputForm(color='teal' :disabled='inputDisabledOtherContact' v-model='healthForm.otherContact')

              v-text-field(label='Tes coordonnées de contact (si facebook ou instagram mettre le lien)' color='teal' v-model='healthForm.contactInformation' required counter=50 :rules='rules.empty')

              v-btn.my-5(color='teal' small outlined @click='validate' :loading='loadingSendMail' :disabled='!valid') 
                span(color='white') Envoyer mes informations

  v-snackbar(v-model='snackbar' shaped top) {{messageSnackbar}}
</template>

<script>
  export default{
    head: {
      title: 'Bilan',
      meta: [
      { hid: 'bilan', name: 'bilan', content: 'Bilan page' },
      { hid: 'keywords', name: 'keywords', content: 'Bilan' }
      ]
    },
    data () {
      return {
        valid: true,
        healthForm: {
          name: '',
          city: '',
          bodyInformation: '',
          target: '',
          sport: 0,
          sportPractise: '',
          eat: 0,
          meal: 0,
          otherMeal: '',
          snack: '',
          fish: 0,
          fruit: 0,
          eatParticularity: '',
          energy: 0,
          night: 0,
          skin: '',
          healthProblems: '',
          pain: '',
          pills: '',
          contact: 0,
          otherContact: '',
          contactInformation: ''
        },
        loadingSendMail: false,
        snackbar: false,
        messageSnackbar: '',
        rules: {
          empty: [v => !!v || 'Ce champs doit être rempli.']
        }
      }
    },
    computed: {
      inputDisabledOtherMeal () {
        return this.healthForm.meal === 'Autre :' ? false : true
      },
      inputDisabledOtherContact () {
        return this.healthForm.contact === 'Autre :' ? false : true
      },
      valueForm (){
        let counter = 0
        for (const response in this.healthForm) {
          if (this.healthForm[response]) {
            counter += 5
          }
        }
        return counter
       }
    },
    methods: {
      validate () {
        if (this.valid) {
          this.loadingSendMail = true
          const xhr = new XMLHttpRequest()
          xhr.open('POST', '/api/mail', true)
          xhr.setRequestHeader('Content-type', 'application/json')
          xhr.onreadystatechange = () => {
          if (xhr.status === 200) {
            this.messageSnackbar = 'Le bilan a bien été envoyé. Je reviens vers toi une fois que je l\'ai analysé.'
            this.$refs.form.reset()
          } else {
            this.messageSnackbar = "Une erreur est survenue lors de l'envoie du bilan, n'hésite pas à essayer plus tard ou à me contacter."
          }
          this.loadingSendMail = false
          this.snackbar = true
        }
        const data = JSON.stringify({
          ...this.healthForm
        })
        xhr.send(data)
        }
      }
    }
  }

</script>

<style lang="css" scoped>
  .inputForm input {
    padding-bottom: 0px !important;
  }
  #progressBar {
    position: fixed;
  }
</style>