<template lang="pug">
v-col.col-xs-12.col-sm-10.col-md-8.offset-sm-1.offset-md-2
  v-card(shaped color='rgba(255,255,255,0.8)')
    v-card-title.justify-center Flora'fit Healthy Life
    hr.mx-16
    v-card-subtitle.text-center Ambassadrice bien-être et santé. Une approche holystique pour votre bien-être.
    v-card-text.mt-2 Prends soin de ta santé ou atteinds un objectif de remise en forme quel que soit ton objectif. Apprends à manger sainement et en bonne quantité, sans frustration avec accès à notre plateforme de sport "Forme et santé". Un accès à un groupe de santé (Lithothérapie, médecine chinoise, ayuverda...) avec un suivi personnalisé 7/7 et une communauté d'entraide.
    v-carousel(cycle show-arrows-on-hover :height='$vuetify.breakpoint.mdAndUp ? 300 : 400')
      v-carousel-item(v-for='(message, i) in messages')
          v-row.mt-10(justify='center' align='center')
            v-col.col-5.offset-1.col-md-2.offset-md-4
              v-avatar(size=60)
                v-img(:src='message.avatar')
            v-col.col-5.offset-md-1
              div.teal--text.text--lighten-1 {{message.name}}
            div.mx-16.mt-10.text-justify.teal--text.text--lighten-2 {{message.text}}
</template>

<script>
export default {
  head: {
    title: 'Index',
    meta: [
      { hid: 'index', name: 'index', content: 'Index page' },
      { hid: 'keywords', name: 'keywords', content: 'Index' }

    ]
  },
  data () {
    return {
      messages: [
        {
          text : 'Flora m\'a contacté pour une perte de poids et je peux dire que je suis plus que ravie. Le programme est abordable au vu de son efficacité. Je recommande les yeux fermés.',
          name : 'Flora',
          avatar: '/flora.jpeg',
        },
        {
          text : 'Flora donne d\'excellent conseille en matière d\'incontinence. J\'avais des problèmes lié au stress (incontinence tous les jeudis). Elle a très vite compris mes attentes et m\'a permis d\'avoir un paquet de couche.',
          name : 'Romain',
          avatar: '/romain.jpeg',
        },
        {
          text : 'Problème de cellulite au niveau des jambes et un peu partout. Problème réglé en moins de 2 435 672 secondes.',
          name : 'Flora',
          avatar: '/flora.jpeg',
        }
      ],
    }
  }
}
</script>
