<template lang="pug">
v-col.col-xs-12.col-sm-10.col-md-8.offset-sm-1.offset-md-2
  v-card(shaped color='rgba(255,255,255,0.8)')
    v-card-title.justify-center Nous rejoindre
    hr.mx-16
    v-card-text.text-center Tu veux avoir des horaires flexibles ? Travailler dans une bonne ambiance, dans une équipe motivée et te sentir soutenu dans tout ce que tu entreprends ? N'hésite pas à nous rejoindre en cliquant sur ce lient en-dessous.
    v-card-text.text-center C'est une inscription facile et instantanée.
     v-card-text.text-center A de suite dans mon équipe.
    v-row.justify-center
      v-btn.my-6(color='teal' small outlined href='http://segurel55062.juiceplus.com/fr/fr/franchise/the-juice-plus-business-model/partner-signup' target='_blank') te rejoindre
</template>

<script>
  export default{
    head: {
    title: 'Nous-rejoindre',
    meta: [
      { hid: 'nous-rejoindre', name: 'nous-rejoindre', content: 'Join page' },
      { hid: 'keywords', name: 'keywords', content: 'Nous rejoindre' }

    ]
  },
  }

</script>

<style lang="css">
</style>