<template lang="pug">
v-col.col-xs-12.col-sm-10.col-md-8.offset-sm-1.offset-md-2
  v-card(shaped color='rgba(255,255,255,0.8)')
    v-card-title.justify-center Présentation du programme
    hr.mx-16
    v-card-subtitle.text-center Entraîne ton corps à être en meilleure santé.
      v-container.mt-6
        v-row(v-for='(line, i) in program' :key='line.title')
          lineText(:lineText='line')
</template>

<script>
export default {
  head: {
    title: 'Programme',
    meta: [
      { hid: 'index', name: 'index', content: 'Program page' },
      { hid: 'keywords', name: 'keywords', content: 'Programme' }

    ]
  },
  data () {
    return {
      program: [
        {
          text : 'Apprends à manger sainement et en bonne quantité sans frustration grâce à un super rééquilibrage alimentaire avec des plan alimentaire personnalisé et des recueils de pleins de recettes saines et gourmandes.',
          title: 'Alimentation',
          picture: '/picturesHomePage/alimentation.jpeg',
          left: true
        },
        {
          text : 'Un bon programme de sport en fonction de toi que ce soit pour la salle de sport et/ou la maison ! Et accès à notre plateforme Forme et Santé pour assister aux cours de sport avec des coachs sportifs diplômés que tu peut réaliser de n\'importe où.',
          title: 'Sport',
          picture: '/picturesHomePage/sport.jpeg',
          left: false
        },
        {
          text : 'Accès à notre groupe Health Club avec un programme pour prendre soin de ça santé, booster son système immunitaire avec l\'intervention de professionnels de la santé comme : Sophrologie, Yoga, Ayurveda, Médecine chinoise, Lithothérapie, Méditation, Développement personnel, Naturopathie etc...',
          title: 'Santé',
          picture: '/picturesHomePage/santé.jpeg',
          left: true
        },
        {
          text : 'Un suivi personnalisé pendant toute la durée de ton challenge pour te motiver, t\'aider et suivre au mieux ton évolution.',
          title: 'Suivi personnalisé',
          picture: '/picturesHomePage/suivi.jpeg',
          left: false
        },
        {
          text : 'Une communauté avec plus de 3700 challengers pour se motiver ensemble avec plein d\'idées de recettes, des conseils, de l\'entraide, de la motivation et même des concours réguliers.',
          title: 'Soutien',
          picture: '/picturesHomePage/soutien.jpeg',
          left: true
        }
      ],
    }
  }
}
</script>
