<template lang="pug">
v-col.col-xs-12.col-sm-10.col-md-8.offset-sm-1.offset-md-2
  v-card(shaped color='rgba(255,255,255,0.8)' height='95em')
    v-card-title.justify-center Nos recherches
    hr.mx-16
    iframe(src='https://segurel55062.juiceplus.com/fr/fr/clinical-research/juice-plus-research' width='100%' height='95%')
</template>

<script>
  export default{
    name: 'recherche',
  }

</script>

<style lang="css">
</style>