<template lang="pug">
v-col.col-xs-12.col-sm-10.col-md-8.offset-sm-1.offset-md-2
  v-card(shaped color='rgba(255,255,255,0.8)')
    v-card-title.justify-center Prendre un rendez-vous
    hr.mx-16
    v-card-text.text-center Pour prendre un rendez-vous avec moi, rien de plus facile. Choisi une date, rentre tes coordonnées, comment tu veux être contacté et envoie le moi.
    v-col.col-md-8.offset-md-2
      v-form(ref='form' v-model='valid')
        v-date-picker(color='teal' first-day-of-week=1 :min='new Date().toISOString().substr(0,10)' full-width locale='fr' v-model='date' elevation=4)
        v-text-field(label='Nom & Prénom // Nom Facebook' color='teal' v-model='name' required counter=50 :rules='rules.empty')
        v-radio-group(v-model='contact' required :rules='rules.empty')
          template(v-slot:label)
            div Tu veux être contacté par
          v-radio(label='Facebook (Messenger)' value='Facebook' color='teal')
          v-radio(label='Instagram' value='Instagram' color='teal')
          v-radio(label='Mail' value='Mail' color='teal')
          v-radio(label='Téléphone' value='Téléphone' color='teal')
          v-container.pt-0
            v-row
              v-radio.mt-3.mt-sm-0(label='Autre :' value='Autre :' color='teal')
              v-text-field.pt-0.ml-md-3.inputForm(color='teal' :disabled='inputDisabledOtherContact' v-model='otherContact' counter=50)
        v-text-field(label='Tes coordonnées de contact (si facebook ou instagram mettre le lien)' color='teal' v-model='contactInformation' required counter=50 :rules='rules.  empty')
        v-row.justify-center
          v-btn.my-5(color='teal' small outlined @click='validate' :loading='loadingSendMail' :disabled='!valid || !date') 
            span(color='white') Prendre rendez-vous
  v-snackbar(v-model='snackbar' shaped top) {{messageSnackbar}}
</template>

<script>
  export default{
    head: {
      title: 'Rendez-vous',
      meta: [
      { hid: 'rendez-vous', name: 'rendez-vous', content: 'Date page' },
      { hid: 'keywords', name: 'keywords', content: 'Rendez-vous' }
      ]
    },
    data () {
      return {
        valid: true,
        date: null,
        name: '',
        contact: null,
        otherContact: '',
        contactInformation: '',
        loadingSendMail: false,
        rules: {
          empty: [v => !!v || 'Ce champs doit être rempli.']
        },
        snackbar: false,
        messageSnackbar: '',
      }
    },
    computed: {
      inputDisabledOtherContact () {
        return this.contact === 'Autre :' ? false : true
      }
    },
    methods: {
      /**
      * Validation du formulaire.
      * Pour que le formulaire soit envoyé, il faut qu'il soit complètement rempli ainsi qu'une date choisi.
      */
      validate () {
        if (this.valid && this.date) {
          this.loadingSendMail = true
          const xhr = new XMLHttpRequest()
          xhr.open('POST', '/api/mail', true)
          xhr.setRequestHeader('Content-type', 'application/json')
          xhr.onreadystatechange = () => {
          if (xhr.status === 200) {
            this.messageSnackbar = 'La demande de rendez-vous a bien été prise en compte. Je reviens vers toi pour confirmer la date souhaité.'
            this.$refs.form.reset()
            this.date = null
          } else {
            this.messageSnackbar = "Une erreur est survenue lors de la prise de rendez-vous, n'hésite pas à essayer plus tard ou à me contacter."
          }
          this.loadingSendMail = false
          this.snackbar = true
        }
        const data = JSON.stringify({
          typeMail: 'Date',
          date: new Date(this.date).toLocaleDateString(),
          name: this.name,
          contact: this.inputDisabledOtherContact ? `${this.contact} ${this.otherContact}` : this.contact,
          contactInformation: this.contactInformation
        })
        xhr.send(data)
        }
        
      }
    }
  }

</script>

<style lang="css">
</style>